/Album.class
/AlbumDelMundial.class
/AlbumDelMundialTest.class
/AlbumExtendido.class
/AlbumTradicional.class
/AlbumWeb.class
/CodigoCliente.class
/Fabrica.class
/Figurita.class
/FiguritaTop10.class
/InterfazPublicaAlbumDelMundial.class
/Participante.class
